.Footer {
  background-color: #1d1d1d;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.Copyright {
    background-color: #313131;
    color: #fff;
}

.FooterTitle {
  color: #fff;
}

.FooterDescription {
  color: #fff;
}

.FooterLink,
.FooterLink:hover {
  color: #fff;
}
