<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="Description" content="Do the Five. Keep a Streak. Save Lives.">
        <link rel="stylesheet" href="{% static 'frontend/style.css' %}" />
        <link rel="icon" href="{% static 'frontend/favicon.png' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap" rel="stylesheet">
        <title>Five Streak</title>
    </head>
    <body>
        <div id="root" class="content"></div>
        <script
            type="text/javascript"
            src="{% static 'frontend/public/main.js' %}"
        ></script>
    </body>
</html>
