html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px !important; /* Height of the footer */
    padding: 0;
    color: #333;
    background-color: #eee;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px; /* Set the fixed height of the footer here */
}

/* Override Bootstrap Styling */

.btn-primary {
    background-color: #025fce !important;
}

.jumbotron {
    text-align: center;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

/* Custom fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif !important;
}
p, div {
    font-family: 'Open Sans', sans-serif !important;
}
